/* ----------------------------------Adnin page------------------------------- */
.staff-container.active{
    visibility: visible;
    /* transition: all ease-in-out 1s; */
    display: block;
    transition: all ease-in 3s;
    transform-origin: center;
}
.staff-container{
    transition: .9s;
    transform-origin: center;
    visibility: hidden;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.29);
    height: 100vh;
    width: 100vw;
}
.staff-container .container{
    background: rgba(255, 255, 255, 0.922);
    z-index: 3;
    height: 80vh;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(0,0,0,0.4) ;
    padding: 30px;
    border-radius: 10px;
    padding: 1rem  2%;
    transform-origin: center;
}
.form-group{
    /* border: 1px solid red; */
    height: 360px;
    overflow-y: auto;
}
.container .cancel_btn{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .staff-title{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}
.container .staff-title h2{
    font-size: 20px;
    font-weight: lighter;
}
.validation-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}